In [3]:
import pandas as pd
print(pd.__version__)
#people_df = pd.read_csv("people_dataset.csv")
path = r"C:\Users\HP\OneDrive\Desktop\AI_With_Miss_Eugene\Lessons\module_2\people_dataset.csv"

people_df = pd.read_csv(
    path
)

print(people_df.head())
people_df.info()

2.3.3
  First Name Last Name     Sex                       Email Date of birth  \
0     Shelby   Terrell    Male        elijah57@example.net    10/26/1945
1    Phillip   Summers  Female       bethany14@example.com     3/24/1910
2   Kristine    Travis    Male       bthompson@example.com      7/2/1992
3    Yesenia  Martinez    Male   kaitlinkaiser@example.com      8/3/2017
4       Lori      Todd    Male  buchananmanuel@example.net     12/1/1938

            Job Title
0     Games developer
1      Phytotherapist
2           Homeopath
3   Market researcher
4  Veterinary surgeon
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   First Name     6 non-null      object
 1   Last Name      6 non-null      object
 2   Sex            6 non-null      object
 3   Email          5 non-null      object
 4   Date of birth  6 non-null      object
 5   Job Title      6 non-null      object
dtypes: object(6)
memory usage: 420.0+ bytes

In [4]:
people_df.isnull()

   First Name  Last Name    Sex  Email  Date of birth  Job Title
0       False      False  False  False          False      False
1       False      False  False  False          False      False
2       False      False  False  False          False      False
3       False      False  False  False          False      False
4       False      False  False  False          False      False
5       False      False  False   True          False      False

In [8]:
people_df["Email"].fillna("ibinaboeugene@gmail.com")

0          elijah57@example.net
1         bethany14@example.com
2         bthompson@example.com
3     kaitlinkaiser@example.com
4    buchananmanuel@example.net
5       ibinaboeugene@gmail.com
Name: Email, dtype: object

In [ ]:
people_df["Email"][5]

nan