## writing my first function

In [7]:
def recipe_for_rice():
    """it helps to manage the quantity of rice for any recipe"""
    print("dish four cups of rice")

In [8]:
help(recipe_for_rice)

Help on function recipe_for_rice in module __main__:

recipe_for_rice()
    it helps to manage the quantity of rice for any recipe

In [9]:
x = 10
if x > 5: 
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

In [10]:
score = 56
if score >= 70 and score <= 100:
    print("A")
elif score >= 60 and score < 70:
    print("B")
elif score >= 50 and score < 60:
    print("C")
elif score >= 45 and score < 50:
    print("D")
elif score >= 40 and score < 45:
    print("E")
elif score >= 0 and score < 40:
    print("F")
else:
    print("invalid grade")

C

In [11]:
length = 8
breadth = 6
area_of_rectangle = 8 * 6
def area_of_rectangle(length, breadth):
    return area_of_rectangle
result = area_of_rectangle(8, 6)
print("area of rectangle:", result)

area of rectangle: <function area_of_rectangle at 0x0000024B334F8E00>

In [12]:
length = 10
breadth = 8
def area_of_rectangle(length, breadth):
    return length * breadth
area = area_of_rectangle(10, 8)
print("area_of_rectangle:", area)

area_of_rectangle: 80

In [13]:
pi = 3.142
radius = 6
def area_of_circle(pi, radius):
    return pi * radius * radius
area = area_of_circle(3.142, 6)
print("area_of_circle:", area)

area_of_circle: 113.112

In [14]:
name = "Ibinabo"
age = 22
city = "Lagos"
def print_user_information(age, name, city):
    return 22, "Ibinabo", "Lagos"
print(f"a {age} year old individual named {name} lives in {city}")

a 22 year old individual named Ibinabo lives in Lagos

In [15]:
fruits = ["oranges", "mangoes", "bananas"]
numbers = [1, 2, 3, 4, 5]
print(fruits[1])
print(numbers[1:4])
more_numbers = [6, 7, 8, 9, 10]
combined = numbers + more_numbers
print(combined)
print(combined[3:8])
print(combined[:8])
print(combined[2:6:2])
print(combined[2:6:1])
full_name = "ibinabo_eugene"

mangoes
[2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[3, 5]
[3, 4, 5, 6]

In [16]:
full_name = "ibinabo eugene"
print(full_name[8:14])
print(full_name[5:])

eugene
bo eugene

In [17]:
eugene = ["sarah", "prince", "stanley", "ib"]
for name in eugene:
    print(name)

sarah
prince
stanley
ib

In [18]:
favorite_number = 21
count = 0
while count <= 21:
    print("august", count)
    count = count + 1

august 0
august 1
august 2
august 3
august 4
august 5
august 6
august 7
august 8
august 9
august 10
august 11
august 12
august 13
august 14
august 15
august 16
august 17
august 18
august 19
august 20
august 21

In [19]:
new_list = eugene.append("marvellous")
print(new_list)

None

In [20]:
squared_numbers = [num**2 for num in combined]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
print(len(full_name))
print(full_name[0:7])
age = 22
output = "my full name is " + full_name + " and i am " + str(age) + "years old."
print(output)

14
ibinabo
my full name is ibinabo eugene and i am 22years old.

In [ ]:
characters = "a", "b", "c", "D", "E", "f", "G", "h", "i", "j", 3, 4, "e", 5
if "a", "b":
    print("1") 
else "c", "D":
    print("0")

SyntaxError: invalid syntax (3330723038.py, line 2)

In [ ]:
#PYTHON DICTIONARY

student = {
    "name": "Ibinabo", 
    "dept": "Electronic",
    "mat no": "U2019/3020065"}
print(student["dept"])

Electronic

In [3]:
student["school"] = "university of port harcourt"
print(student)

{'name': 'Ibinabo', 'dept': 'Electronic', 'mat no': 'U2019/3020065', 'school': 'university of port harcourt'}