In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\AI_With_Miss_Eugene\sample_submission.csv")
df

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB

In [4]:
df.shape

(1459, 2)

In [5]:
df.isnull().sum()

Id           0
SalePrice    0
dtype: int64

In [6]:
df.drop_duplicates().sum()

Id           3.195210e+06
SalePrice    2.614293e+08
dtype: float64

In [7]:
df.isnull().sum().sum()

np.int64(0)

In [8]:
cat_cols = df.select_dtypes(include= "object").columns
cat_cols

Index([], dtype='object')

In [9]:
df[cat_cols].isnull().sum()

Series([], dtype: float64)